* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./img/dream-house.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.project {
  background-color: white;
  width: 600px;
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.content {
  position: relative;
  background-color: white;
  width: 600px;
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.btn {
  margin-top: 20px;
}

.content {
  display: none;
}
.btnX {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
}

.project.hidden {
  display: none;
}

.content.show {
  display: flex;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
